.App {
  text-align: left;
}

.header {
  background-color: #282c34;
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 30px;
  color: white;
  text-shadow: 0 0 9px #fff; 
  padding: 0px 0px 0px 5rem;
}

.body {
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;
}

.thumb {
  cursor: pointer;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: 5px solid #282c34;
  border-radius: 10%;
  display: block;
}

.thumb.active {
  background-color: #bfbfbf;
}

.track {
  position: relative;
  background: black;
}

.vertial-slider .track {
  top: 20px;
  height: 4px;
}

.vertical-slider {
  max-width: 4rem;
  border: 5px solid #282c34;
  height: 10rem; 
  width: 60%;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 3%;
}

.paddedContainer {
  padding: 2rem 2rem 2rem 2rem;
}

.container {
  padding: 1rem 1rem 1rem 1rem;
}
